@tailwind base;
@tailwind components;
@tailwind utilities;

.glow{
    transition: all 0.3s ease-in-out;
}
.glow:hover{
    box-shadow: 0 0 25px rgb(231, 20, 20);
}
.img_glow{
    box-shadow: 0 0 15px rgb(231,20,20);    
}